<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Areas/Admin/Content/easyui/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/easyui/jquery.easyui.min.js"></script>
    <link href="~/Areas/Admin/Content/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/easyui/themes/icon.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
    @RenderBody()
</html>
