

<form id="add_form">
<table class="gridtable">
    <tr>
        <td>所属菜单</td>
        <td>
            <input id="sParentMenuId" class="easyui-combobox" name="sParentMenuId"
                   data-options="valueField:'id',textField:'text',url:'/Admin/Menus/GetFirstMenus'" />
        </td>
    </tr>
    <tr>
        <td>菜单名称</td>
        <td>
            <input  class="easyui-textbox"  name="sMenuName"/>
        </td>
    </tr>
    <tr>
        <td>菜单链接</td>
        <td>
            <input class="easyui-textbox" name="sMenuUrl"  data-options="required:false" />
        </td>
    </tr>
    <tr>
        <td>排 序</td>
        <td>
            <input class="easyui-numberbox" name="iOrder" data-options="min:0"/>
        </td>
    </tr>
</table>
</form>
