@{
    ViewBag.Title = "菜单列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
 <form id="search_form" style="height:100%">
        <table id="Menus" oncontextmenu="return(false)"></table>
        <div id="Menus_toolbar" style="padding:5px">
          <div >
            <a class="easyui-linkbutton Insert"  data-options="iconCls:'icon-add',plain:'true'">新增</a>&nbsp
            <a class="easyui-linkbutton Update"  data-options="iconCls:'icon-edit',plain:'true'">编辑</a>&nbsp
            <a class="easyui-linkbutton Cancel"  data-options="iconCls:'icon-remove',plain:'true'">删除</a>
         </div>
       </div> 
 </form>
<script type="text/javascript">
    $(function () {

        var f = new eui();
        var menus = f.config("Admin", "Menus");


        //菜单treegrid的数据绑定
        menus.grid.treegrid({
            url: menus.url,
            toolbar:menus.toolbar,
            idField: "ID",//必需的
            treeField: "sMenuName",
            striped: true,
            singleSelect: true,
            loadMsg: "正在加载...",
            columns: [[
                { field: 'sMenuName', title: '菜单名称', align: 'center', width: 250 },// formatter: sModuleName },
                { field: 'sMenuUrl', title: '菜单地址', align: 'center', width: 250 },
                { field: 'iOrder', title: '排序ID', align: 'center', width: 80 },
                { field: 'dInsertTime', title: '添加时间', align: 'center', width: 200 }
            ]],
            onLoadSuccess: function (row, data) {
            },
        });


        //添加菜单
        menus.Insert.handle = function () {
            var dialog = f.dialog(menus.add, '添加菜单', function () {
                if (f.check($('#add_form'))) {
                    var data = $('#add_form').serialize();
                    f.post(menus.Insert.url, data, function (res) {
                        dialog.dialog('close');
                        menus.grid.treegrid('reload');
                    });
                }
            });
        }

        /*
        * 编辑菜单
        */
        menus.Update.handle = function () {

        }


        //绑定事件
        $('.Insert').on('click', menus.Insert.handle);
        $('.Update').on('click', menus.Update.handle);
        $('.Cancel').on('click', menus.Cancel.handle);
        
        ////添加菜单
        //menus.Insert.handle = function () {
        //    alert('dfs');
        //}


        ///***绑定按钮事件***/
        //$('.easyui-linkbutton').click(function () { f.linkbutton(config, $(this).attr("handle"), 1) });
        ///*
        //* 添加菜单的处理.
        //* author [汤台]
        //* version 1.0.0
        //*/
        //config.Insert = function () {
        //    var $this = f.dialog(config.add, '新增菜单', function () {
        //        f.check(form.add);//验证表单
        //        $this.dialog('close');
        //        config.grid.treegrid('reload');
        //    })
        //}
        ///*
        //* 编辑菜单的处理.
        //* author [汤台]
        //* version 1.0.0
        //*/
        //config.Update = function () {
        //    var $this = f.dialog(config.add, '编辑菜单', function () {
        //        f.check(form.edit);//验证表单
        //        f.post(config.insert, '', function (r) {
        //        });
        //        $this.dialog('close');
        //        config.grid.treegrid('reload');
        //    });
        //}
        ///*
        //* 删除菜单的处理.
        //* author [汤台]
        //* version 1.0.0
        //*/
        //config.Cancel = function () {
        //    f.dialog(config.add, '删除菜单', function () {
        //        f.alert("OK");
        //    })
        //}
    });
</script>
