<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单详情</title>
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--分享使用-->
    <meta itemprop="name" content="" />
    <meta itemprop="description" name="description" content="" />
    <meta itemprop="image" content="img_url" />
    <meta name="format-detection" content="telephone=no" />
    <link href="~/OrderPage/css/global.css" rel="stylesheet" />
    <link href="~/OrderPage/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/OrderPage/style.css" rel="stylesheet" />
    <script src="~/OrderPage/lib/jquery-2.1.4.min.js"></script>
    <script src="~/OrderPage/lib/judge.js"></script>
    <script src="~/OrderPage/script/common.js"></script>

</head>
<body class="has-head t-p-b">
    <header>
        <div class="head-wraps clearfix">
            <a href="javascript:;" class="pull-left">
                <i class="icon icon-arrow-lefts"></i>
            </a>
            <div class="title t-f-16">订单详情</div>
        </div>
    </header>
    <div class="main">
        <section>
            <div class="t-details-mark t-bg-ff t-b-c clearfix">
                <span class="t-details-title-one">订单号：</span>
                <span class="t-c-6">1234567890123456</span>
            </div>
        </section>
        <section>
            <div class="t-details-mark t-bg-ff t-b-c clearfix">
                <span class="t-details-title-one">订单时间：</span>
                <span class="t-c-6">2015-01-12</span>
            </div>
        </section>
        <section>
            <div class="t-details-address t-bg-ff t-b-c">
                <p class="clearfix">
                    <span class="t-details-title-one">收货人：</span>
                    <span class="t-details-title-one">啊啊啊啊</span>
                    <span>手机号：1300000000</span>
                </p>
                <div class="t-address-one">
                    <span class="t-details-title-one">收货地址：</span>
                    <p class="t-f-12">成都市青羊区光华中心B座1206-1209</p>
                </div>
            </div>
        </section>
        <section>
            <div class="t-details-mark t-bg-ff t-b-c clearfix t-m-t t-b-t-c">
                <span class="t-details-title-one">推荐码：</span>
                <span class="t-c-6">1234567890123456</span>
            </div>
        </section>
        <section>
            <div class="t-general-listing t-bg-ff t-m-t t-b-c t-b-t-c">
                <h3 class="t-listing-title t-b-c">商品清单</h3>
                <div class="t-listing-Box clearfix t-order-bg">
                    <i class="t-picture" style="background-image: url('/OrderPage/img/t-icon-picture.png')"></i>
                    <div class="t-listing-right">
                        <h3>钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒钻戒</h3>
                        <p class="t-size">净度：VS3</p>
                        <p class="t-listing-money">&yen; 119.00</p>
                        <span class="t-number">&times;1</span>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="t-address-one t-bg-ff t-m-t t-b-c t-b-t-c">
                <span class="t-details-title-one">商品金额：</span>
                <p class="t-c">&yen; 119.00</p>
            </div>
        </section>
        <section>
            <div class="t-bg-ff t-m-t t-b-c t-b-t-c t-address-message-Box">
                <p>给卖家留言：</p>
                <textarea placeholder="请尽快给我们发货哦！"></textarea>
            </div>
        </section>
    </div>
    <footer class="t-h">
        <div class="t-address-down flex-wrap">
            <a href="javascript:;" class="flex-item-1 t-active t-c">取消订单</a>
            <a href="javascript:;" class="flex-item-1 t-payment">付款</a>
        </div>
    </footer>
</body>
</html>
