

<form id="add_button_form">
    <table class="gridtable">
        <tr>
            <td>按钮名称</td>
            <td>
                <input class="easyui-textbox" name="sButtonName" />
            </td>
        </tr>
        <tr>
            <td>按钮标识</td>
            <td>
                <input class="easyui-textbox" name="sButtonEn_Name" />
            </td>
        </tr>
        <tr>
            <td>按钮样式</td>
            <td>
                @*<input class="easyui-combobox" name="sParentMenuId"
                       data-options="valueField:'id',textField:'text',url:'/Admin/Menus/GetFirstMenus'" />*@
                <select class="easyui-combobox" name="sButtonIcon">
                    <option value="aa">aitem1</option>
                    <option value="aa">aitem2</option>
                </select>

            </td>
        </tr>
        <tr>
            <td>排 序</td>
            <td>
                <input class="easyui-textbox" name="iOrder" />
            </td>
        </tr>
</table>
</form>
