

<form id="add_form">
<table class="gridtable">
    <tr>
        <td>所属角色</td>
        <td>
            <input class="easyui-combobox" name="sParentMenuId"
                   data-options="valueField:'id',textField:'text',url:'/Admin/Menus/GetFirstMenus'" />
        </td>
    </tr>
    <tr>
        <td>用户名称</td>
        <td>
            <input  class="easyui-textbox"  name="sMenuName"/>
        </td>
    </tr>
    <tr>
        <td>用户电话</td>
        <td>
            <input class="easyui-textbox" name="sMenuUrl" />
        </td>
    </tr>
</table>
</form>
