@{
    ViewBag.Title = "订单数据";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table id="Orders"></table>
<div id="Orders_toolbar" style="padding:5px;">
    <form id="search">
        <div style="margin-bottom:5px">
            <span>状态</span>
            <select class="easyui-combobox" name="iState" data-options="height:22,width:80">
                <option>待付款</option>
                <option>待发货</option>
                <option>待收货</option>
                <option>已完成</option>
                <option>退货中</option>
                <option>退货完成</option>
            </select>
            <span>下单时间</span>
            <input  type="text" name="Sta" class="easyui-datebox" data-options="width:120,editable:false" >--<input name="End" type="text" class="easyui-datebox" data-options="width:120,editable:false">
            <span>模糊查询</span>
            <input class="easyui-textbox" name="searchText" data-options="width:180,height:22,required:false,prompt:'收件人/商品编号/商品名/号码'"> 
            <a  data-name="orders_search" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查 询</a>
        </div>
    </form>
     @Html.Partial("~/Areas/Admin/Views/Shared/_Button.cshtml")
</div>
<script type="text/javascript">
    $(function () {
        var f = new eui();
        var d = new extend();
        var orders = f.config("Admin", "Orders");

        /*!
        * method:条件查询订单
        * author:[汤台]
        * version:[1.0.0]
        */
        orders.Search = function () {
            var param = $('#search').serializeArray().toObject();
            orders.grid.datagrid({
                queryParams: param
            });
        }


        /*!
        * method:修改订单状态
        * author:[汤台]
        * version:[1.0.0]
        */
        orders.Alter = function () {
            var select = orders.grid.datagrid('getSelections');
            if (select.length == 1) {
                $.messager.confirm('确认', '您确认想要修改订单状态？', function (r) {
                    if (r) {
                        f.post(orders.route("Alter"),
                            { ID: d.AddQuote(select[0].ID)},
                            function (res) {
                                if (res.success) {
                                    f.alert(res.info);
                                    orders.grid.datagrid("reload");
                                }
                                else
                                    f.alert(res.info);
                            });
                    }
                });
            }
            else {
                f.alert("请选择一条数据进行操作!");
            }
        }

   
        /*!
        * method:绑定订单按钮事件
        * author:[汤台]
        * version:[1.0.0]
        */
        $(orders.toolbar)
                .on('click', 'a[data-name=orders_alter]', orders.Alter)
                .on('click', 'a[data-name=orders_search]', orders.Search)



        /*!
        * method:订单数据列表(datagrid)的绑定
        * author:[汤台]
        * version:[1.0.0]
        */
        orders.grid.datagrid({
            fit: true,
            url:orders.route('List'),
            singleSelect:true,
            toolbar: orders.toolbar,
            rownumbers:true,
            striped: true,
            pagination: true,
            loadMsg: "正在加载...",
            columns: [[
                { field: '', checkbox: true, },
                { field: 'sOrderNo', title: '订单编号', align: 'center', width: 150 },
                { field: 'sReceiver', title: '收件人', align: 'center', width: 100 },
                { field: 'sPhone', title: '电话号码', align: 'center', width: 120 },
                { field: 'sGoodName', title: '商品名字', align: 'center', width: 150 },
                { field: 'sGoodNo', title: '商品编号', align: 'center', width: 120 },
                { field: 'iGoodsCount', title: '商品数量', align: 'center', width: 60 },
                { field: 'dPrices', title: '支付金额', align: 'center', width: 120 },
                {
                    field: 'iState', title: '状态', align: 'center', width: 80, formatter: function (value) {
                        switch (parseInt(value)) {
                            case 0: return "<span style='color:blue'>待付款<span>";
                            case 1: return "<span style='color:blue'>待发货<span>";
                            case 2: return "<span style='color:blue'>代收货<span>";
                            case 3: return "<span style='color:green'>已完成<span>";
                            case -1: return "<span style='color:red'>退货中<span>";
                            case -2: return "<span style='color:red'>退款完成<span>";
                        }
                    }
                },
                { field: 'dBookTime', title: '下单时间', align: 'center', width: 200 }
            ]],
        });
    });

</script>